@import 'variables';

.user-name {
    color: $primary;
    font-weight: 500;
    margin-right: 8px 3px;
}

mat-form-field {
    width: 100%;
    max-width: 400px;
}

spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: 580px) {

    .component-container  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    mat-form-field {
        max-width: 90%;
    }
}
