@import 'variables';

.actions {
    padding: 20px;
    background-color: $backgroundGrey;
    display: flex;
    align-items: center;

    mat-icon:hover {
        cursor: pointer;
    }
}

.column-container {
    display: flex;

    .left, .right {
        padding: 10px;
    }

    .left {
        width: 20%;
        min-width: 300px;
    }

    .right {
        width: 80%;
    }
}

.spinner-container {
    height: calc(100vh - 60px);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-spinner {
    height: 100%;
    display: absolute;
}

@media screen and (max-width: 1000px) {
    .column-container {
        .left {
            min-width: 200px;
        }
    }
}

@media screen and (max-width: 580px) {
    .column-container {
        flex-direction: column;

        .left, .right {
            width: 100%;
        }

        .left {
        }
    }
}